In [1]:
import requests
import json

import pandas as pd
import numpy as np

# Data Frame

In [2]:
HTTPS = 'https://'
DOMAIN = 'api.laligafantasymarca.com'

# V1
V1 = '/stats/v1'
HTTPS_DOMAIN_V1 = f'{HTTPS}{DOMAIN}{V1}'
ROUTE_WEEK = lambda week: f'/stats/week/{week}'

# V3
V3 = '/api/v3'
HTTPS_DOMAIN_V3 = f'{HTTPS}{DOMAIN}{V3}'
ROUTE_PLAYERS = '/players'
ROUTE_MARKET_VALUE = lambda id: f'/player/{id}/market-value'
ROUTE_PLAYER_STATS = lambda id: f'/player/{id}'

In [3]:
# get list of players ids
response = requests.get(f'{HTTPS_DOMAIN_V3}{ROUTE_PLAYERS}')

players = response.json()
players_ids = [p['id'] for p in players]
players_path = './data_json/players.json'


with open(players_path, 'w') as convert_file:
     convert_file.write(json.dumps(players))

In [7]:
{p['nickname']: p for p in players[1:10]}.keys()

dict_keys(['Unai SimÃ³n', 'Ter Stegen', 'IvÃ¡n Villar', 'David Soria', 'Aitor Fdez.', 'Courtois', 'Remiro', 'Jaume Domenech', 'Asenjo'])

## Player Stats

In [209]:
player_stats_path = './data_json/player_stats.json'

### Get data from local JSON

In [176]:
# with open(player_stats_path) as f:
#     players_stats = json.load(f)

### Get data from API

In [210]:
# get player stats
print('Getting player stats...')

# get players stats info for each player
players_stats = []
for i, p_id in enumerate(players_ids):
    response = requests.get(f'{HTTPS_DOMAIN_V3}{ROUTE_PLAYER_STATS(p_id)}')
    p_stats = response.json()

    if p_stats['position'] != 'Entrenador':
        players_stats.append(p_stats)
    
    print(i+1, '- Retrieved player stats of id:', p_id)
    
# create file
with open(player_stats_path, 'w') as convert_file:
     convert_file.write(json.dumps(players_stats))

len(players_stats)

Getting player stats...
1 - Retrieved player stats of id: 53
2 - Retrieved player stats of id: 68
3 - Retrieved player stats of id: 93
4 - Retrieved player stats of id: 140
5 - Retrieved player stats of id: 184
6 - Retrieved player stats of id: 204
7 - Retrieved player stats of id: 230
8 - Retrieved player stats of id: 274
9 - Retrieved player stats of id: 298
10 - Retrieved player stats of id: 339
11 - Retrieved player stats of id: 362
12 - Retrieved player stats of id: 644
13 - Retrieved player stats of id: 677
14 - Retrieved player stats of id: 734
15 - Retrieved player stats of id: 804
16 - Retrieved player stats of id: 844
17 - Retrieved player stats of id: 905
18 - Retrieved player stats of id: 908
19 - Retrieved player stats of id: 947
20 - Retrieved player stats of id: 993
21 - Retrieved player stats of id: 1046
22 - Retrieved player stats of id: 1066
23 - Retrieved player stats of id: 1100
24 - Retrieved player stats of id: 1132
25 - Retrieved player stats of id: 1138
26 - Retrieved player stats of id: 1163
27 - Retrieved player stats of id: 1184
28 - Retrieved player stats of id: 1217
29 - Retrieved player stats of id: 1219
30 - Retrieved player stats of id: 1231
31 - Retrieved player stats of id: 1244
32 - Retrieved player stats of id: 1255
33 - Retrieved player stats of id: 1266
34 - Retrieved player stats of id: 1268
35 - Retrieved player stats of id: 1313
36 - Retrieved player stats of id: 1374
37 - Retrieved player stats of id: 1402
38 - Retrieved player stats of id: 1422
39 - Retrieved player stats of id: 1437
40 - Retrieved player stats of id: 1443
41 - Retrieved player stats of id: 1479
42 - Retrieved player stats of id: 1490
43 - Retrieved player stats of id: 1493
44 - Retrieved player stats of id: 1511
45 - Retrieved player stats of id: 1538
46 - Retrieved player stats of id: 1544
47 - Retrieved player stats of id: 1563
48 - Retrieved player stats of id: 1571
49 - Retrieved player stats of id: 1573
50 - Retrieved player stats of id: 1587
51 - Retrieved player stats of id: 1599
52 - Retrieved player stats of id: 55
53 - Retrieved player stats of id: 56
54 - Retrieved player stats of id: 71
55 - Retrieved player stats of id: 72
56 - Retrieved player stats of id: 73
57 - Retrieved player stats of id: 74
58 - Retrieved player stats of id: 75
59 - Retrieved player stats of id: 77
60 - Retrieved player stats of id: 78
61 - Retrieved player stats of id: 79
62 - Retrieved player stats of id: 94
63 - Retrieved player stats of id: 97
64 - Retrieved player stats of id: 118
65 - Retrieved player stats of id: 143
66 - Retrieved player stats of id: 146
67 - Retrieved player stats of id: 166
68 - Retrieved player stats of id: 187
69 - Retrieved player stats of id: 192
70 - Retrieved player stats of id: 231
71 - Retrieved player stats of id: 236
72 - Retrieved player stats of id: 245
73 - Retrieved player stats of id: 255
74 - Retrieved player stats of id: 257
75 - Retrieved player stats of id: 258
76 - Retrieved player stats of id: 259
77 - Retrieved player stats of id: 260
78 - Retrieved player stats of id: 265
79 - Retrieved player stats of id: 283
80 - Retrieved player stats of id: 284
81 - Retrieved player stats of id: 300
82 - Retrieved player stats of id: 301
83 - Retrieved player stats of id: 302
84 - Retrieved player stats of id: 341
85 - Retrieved player stats of id: 344
86 - Retrieved player stats of id: 360
87 - Retrieved player stats of id: 366
88 - Retrieved player stats of id: 553
89 - Retrieved player stats of id: 558
90 - Retrieved player stats of id: 559
91 - Retrieved player stats of id: 566
92 - Retrieved player stats of id: 574
93 - Retrieved player stats of id: 642
94 - Retrieved player stats of id: 645
95 - Retrieved player stats of id: 649
96 - Retrieved player stats of id: 650
97 - Retrieved player stats of id: 664
98 - Retrieved player stats of id: 665
99 - Retrieved player stats of id: 673
100 - Retrieved player stats of id: 718
101 - Retrieved player stats of id: 742
102 - Retrieved player stats of id: 768
103 - Retrieved player stats of id: 801
104 - Retrieved player stats of id: 805
105 - Retrieved player stats of id: 808
106 - Retrieved player stats of id: 809
107 - Retrieved player stats of id: 838
108 - Retrieved player stats of id: 850
109 - Retrieved player stats of id: 859
110 - Retrieved player stats of id: 881
111 - Retrieved player stats of id: 901
112 - Retrieved player stats of id: 910
113 - Retrieved player stats of id: 912
114 - Retrieved player stats of id: 939
115 - Retrieved player stats of id: 943
116 - Retrieved player stats of id: 944
117 - Retrieved player stats of id: 955
118 - Retrieved player stats of id: 978
119 - Retrieved player stats of id: 991
120 - Retrieved player stats of id: 1023
121 - Retrieved player stats of id: 1033
122 - Retrieved player stats of id: 1049
123 - Retrieved player stats of id: 1056
124 - Retrieved player stats of id: 1058
125 - Retrieved player stats of id: 1059
126 - Retrieved player stats of id: 1075
127 - Retrieved player stats of id: 1090
128 - Retrieved player stats of id: 1092
129 - Retrieved player stats of id: 1097
130 - Retrieved player stats of id: 1098
131 - Retrieved player stats of id: 1102
132 - Retrieved player stats of id: 1115
133 - Retrieved player stats of id: 1121
134 - Retrieved player stats of id: 1123
135 - Retrieved player stats of id: 1130
136 - Retrieved player stats of id: 1133
137 - Retrieved player stats of id: 1136
138 - Retrieved player stats of id: 1145
139 - Retrieved player stats of id: 1147
140 - Retrieved player stats of id: 1148
141 - Retrieved player stats of id: 1157
142 - Retrieved player stats of id: 1159
143 - Retrieved player stats of id: 1165
144 - Retrieved player stats of id: 1168
145 - Retrieved player stats of id: 1179
146 - Retrieved player stats of id: 1200
147 - Retrieved player stats of id: 1201
148 - Retrieved player stats of id: 1204
149 - Retrieved player stats of id: 1208
150 - Retrieved player stats of id: 1216
151 - Retrieved player stats of id: 1218
152 - Retrieved player stats of id: 1222
153 - Retrieved player stats of id: 1225
154 - Retrieved player stats of id: 1227
155 - Retrieved player stats of id: 1232
156 - Retrieved player stats of id: 1241
157 - Retrieved player stats of id: 1243
158 - Retrieved player stats of id: 1245
159 - Retrieved player stats of id: 1250
160 - Retrieved player stats of id: 1251
161 - Retrieved player stats of id: 1252
162 - Retrieved player stats of id: 1253
163 - Retrieved player stats of id: 1256
164 - Retrieved player stats of id: 1257
165 - Retrieved player stats of id: 1261
166 - Retrieved player stats of id: 1263
167 - Retrieved player stats of id: 1267
168 - Retrieved player stats of id: 1269
169 - Retrieved player stats of id: 1280
170 - Retrieved player stats of id: 1295
171 - Retrieved player stats of id: 1298
172 - Retrieved player stats of id: 1335
173 - Retrieved player stats of id: 1339
174 - Retrieved player stats of id: 1344
175 - Retrieved player stats of id: 1345
176 - Retrieved player stats of id: 1351
177 - Retrieved player stats of id: 1353
178 - Retrieved player stats of id: 1375
179 - Retrieved player stats of id: 1378
180 - Retrieved player stats of id: 1384
181 - Retrieved player stats of id: 1392
182 - Retrieved player stats of id: 1398
183 - Retrieved player stats of id: 1407
184 - Retrieved player stats of id: 1424
185 - Retrieved player stats of id: 1426
186 - Retrieved player stats of id: 1427
187 - Retrieved player stats of id: 1428
188 - Retrieved player stats of id: 1433
189 - Retrieved player stats of id: 1444
190 - Retrieved player stats of id: 1450
191 - Retrieved player stats of id: 1453
192 - Retrieved player stats of id: 1458
193 - Retrieved player stats of id: 1468
194 - Retrieved player stats of id: 1469
195 - Retrieved player stats of id: 1474
196 - Retrieved player stats of id: 1476
197 - Retrieved player stats of id: 1478
198 - Retrieved player stats of id: 1482
199 - Retrieved player stats of id: 1487
200 - Retrieved player stats of id: 1491
201 - Retrieved player stats of id: 1492
202 - Retrieved player stats of id: 1495
203 - Retrieved player stats of id: 1496
204 - Retrieved player stats of id: 1497
205 - Retrieved player stats of id: 1502
206 - Retrieved player stats of id: 1507
207 - Retrieved player stats of id: 1508
208 - Retrieved player stats of id: 1514
209 - Retrieved player stats of id: 1515
210 - Retrieved player stats of id: 1519
211 - Retrieved player stats of id: 1525
212 - Retrieved player stats of id: 1533
213 - Retrieved player stats of id: 1535
214 - Retrieved player stats of id: 1542
215 - Retrieved player stats of id: 1543
216 - Retrieved player stats of id: 1546
217 - Retrieved player stats of id: 1552
218 - Retrieved player stats of id: 1553
219 - Retrieved player stats of id: 1566
220 - Retrieved player stats of id: 1567
221 - Retrieved player stats of id: 1569
222 - Retrieved player stats of id: 1570
223 - Retrieved player stats of id: 1574
224 - Retrieved player stats of id: 1576
225 - Retrieved player stats of id: 1578
226 - Retrieved player stats of id: 1579
227 - Retrieved player stats of id: 1582
228 - Retrieved player stats of id: 1588
229 - Retrieved player stats of id: 1592
230 - Retrieved player stats of id: 1594
231 - Retrieved player stats of id: 1604
232 - Retrieved player stats of id: 58
233 - Retrieved player stats of id: 59
234 - Retrieved player stats of id: 62
235 - Retrieved player stats of id: 67
236 - Retrieved player stats of id: 80
237 - Retrieved player stats of id: 81
238 - Retrieved player stats of id: 82
239 - Retrieved player stats of id: 86
240 - Retrieved player stats of id: 92
241 - Retrieved player stats of id: 102
242 - Retrieved player stats of id: 107
243 - Retrieved player stats of id: 124
244 - Retrieved player stats of id: 127
245 - Retrieved player stats of id: 131
246 - Retrieved player stats of id: 132
247 - Retrieved player stats of id: 136
248 - Retrieved player stats of id: 148
249 - Retrieved player stats of id: 150
250 - Retrieved player stats of id: 193
251 - Retrieved player stats of id: 197
252 - Retrieved player stats of id: 228
253 - Retrieved player stats of id: 240
254 - Retrieved player stats of id: 243
255 - Retrieved player stats of id: 246
256 - Retrieved player stats of id: 269
257 - Retrieved player stats of id: 270
258 - Retrieved player stats of id: 271
259 - Retrieved player stats of id: 296
260 - Retrieved player stats of id: 307
261 - Retrieved player stats of id: 309
262 - Retrieved player stats of id: 310
263 - Retrieved player stats of id: 311
264 - Retrieved player stats of id: 348
265 - Retrieved player stats of id: 350
266 - Retrieved player stats of id: 544
267 - Retrieved player stats of id: 547
268 - Retrieved player stats of id: 637
269 - Retrieved player stats of id: 652
270 - Retrieved player stats of id: 669
271 - Retrieved player stats of id: 675
272 - Retrieved player stats of id: 680
273 - Retrieved player stats of id: 681
274 - Retrieved player stats of id: 683
275 - Retrieved player stats of id: 701
276 - Retrieved player stats of id: 766
277 - Retrieved player stats of id: 775
278 - Retrieved player stats of id: 793
279 - Retrieved player stats of id: 815
280 - Retrieved player stats of id: 816
281 - Retrieved player stats of id: 817
282 - Retrieved player stats of id: 845
283 - Retrieved player stats of id: 846
284 - Retrieved player stats of id: 853
285 - Retrieved player stats of id: 855
286 - Retrieved player stats of id: 868
287 - Retrieved player stats of id: 873
288 - Retrieved player stats of id: 874
289 - Retrieved player stats of id: 876
290 - Retrieved player stats of id: 880
291 - Retrieved player stats of id: 889
292 - Retrieved player stats of id: 895
293 - Retrieved player stats of id: 898
294 - Retrieved player stats of id: 913
295 - Retrieved player stats of id: 918
296 - Retrieved player stats of id: 922
297 - Retrieved player stats of id: 923
298 - Retrieved player stats of id: 974
299 - Retrieved player stats of id: 996
300 - Retrieved player stats of id: 1000
301 - Retrieved player stats of id: 1004
302 - Retrieved player stats of id: 1006
303 - Retrieved player stats of id: 1008
304 - Retrieved player stats of id: 1009
305 - Retrieved player stats of id: 1022
306 - Retrieved player stats of id: 1025
307 - Retrieved player stats of id: 1031
308 - Retrieved player stats of id: 1039
309 - Retrieved player stats of id: 1048
310 - Retrieved player stats of id: 1050
311 - Retrieved player stats of id: 1069
312 - Retrieved player stats of id: 1070
313 - Retrieved player stats of id: 1072
314 - Retrieved player stats of id: 1073
315 - Retrieved player stats of id: 1088
316 - Retrieved player stats of id: 1103
317 - Retrieved player stats of id: 1106
318 - Retrieved player stats of id: 1107
319 - Retrieved player stats of id: 1116
320 - Retrieved player stats of id: 1129
321 - Retrieved player stats of id: 1134
322 - Retrieved player stats of id: 1146
323 - Retrieved player stats of id: 1166
324 - Retrieved player stats of id: 1169
325 - Retrieved player stats of id: 1186
326 - Retrieved player stats of id: 1197
327 - Retrieved player stats of id: 1199
328 - Retrieved player stats of id: 1203
329 - Retrieved player stats of id: 1209
330 - Retrieved player stats of id: 1214
331 - Retrieved player stats of id: 1215
332 - Retrieved player stats of id: 1220
333 - Retrieved player stats of id: 1221
334 - Retrieved player stats of id: 1264
335 - Retrieved player stats of id: 1291
336 - Retrieved player stats of id: 1300
337 - Retrieved player stats of id: 1301
338 - Retrieved player stats of id: 1302
339 - Retrieved player stats of id: 1320
340 - Retrieved player stats of id: 1325
341 - Retrieved player stats of id: 1332
342 - Retrieved player stats of id: 1341
343 - Retrieved player stats of id: 1343
344 - Retrieved player stats of id: 1354
345 - Retrieved player stats of id: 1382
346 - Retrieved player stats of id: 1385
347 - Retrieved player stats of id: 1386
348 - Retrieved player stats of id: 1388
349 - Retrieved player stats of id: 1389
350 - Retrieved player stats of id: 1393
351 - Retrieved player stats of id: 1399
352 - Retrieved player stats of id: 1406
353 - Retrieved player stats of id: 1413
354 - Retrieved player stats of id: 1414
355 - Retrieved player stats of id: 1415
356 - Retrieved player stats of id: 1425
357 - Retrieved player stats of id: 1431
358 - Retrieved player stats of id: 1434
359 - Retrieved player stats of id: 1438
360 - Retrieved player stats of id: 1440
361 - Retrieved player stats of id: 1446
362 - Retrieved player stats of id: 1452
363 - Retrieved player stats of id: 1459
364 - Retrieved player stats of id: 1465
365 - Retrieved player stats of id: 1467
366 - Retrieved player stats of id: 1473
367 - Retrieved player stats of id: 1477
368 - Retrieved player stats of id: 1480
369 - Retrieved player stats of id: 1485
370 - Retrieved player stats of id: 1489
371 - Retrieved player stats of id: 1499
372 - Retrieved player stats of id: 1501
373 - Retrieved player stats of id: 1506
374 - Retrieved player stats of id: 1510
375 - Retrieved player stats of id: 1513
376 - Retrieved player stats of id: 1517
377 - Retrieved player stats of id: 1518
378 - Retrieved player stats of id: 1520
379 - Retrieved player stats of id: 1523
380 - Retrieved player stats of id: 1528
381 - Retrieved player stats of id: 1529
382 - Retrieved player stats of id: 1531
383 - Retrieved player stats of id: 1536
384 - Retrieved player stats of id: 1537
385 - Retrieved player stats of id: 1564
386 - Retrieved player stats of id: 1565
387 - Retrieved player stats of id: 1572
388 - Retrieved player stats of id: 1575
389 - Retrieved player stats of id: 1581
390 - Retrieved player stats of id: 1586
391 - Retrieved player stats of id: 1589
392 - Retrieved player stats of id: 1590
393 - Retrieved player stats of id: 1595
394 - Retrieved player stats of id: 1596
395 - Retrieved player stats of id: 1603
396 - Retrieved player stats of id: 65
397 - Retrieved player stats of id: 91
398 - Retrieved player stats of id: 112
399 - Retrieved player stats of id: 135
400 - Retrieved player stats of id: 159
401 - Retrieved player stats of id: 179
402 - Retrieved player stats of id: 200
403 - Retrieved player stats of id: 217
404 - Retrieved player stats of id: 222
405 - Retrieved player stats of id: 224
406 - Retrieved player stats of id: 242
407 - Retrieved player stats of id: 247
408 - Retrieved player stats of id: 248
409 - Retrieved player stats of id: 250
410 - Retrieved player stats of id: 264
411 - Retrieved player stats of id: 275
412 - Retrieved player stats of id: 294
413 - Retrieved player stats of id: 334
414 - Retrieved player stats of id: 356
415 - Retrieved player stats of id: 415
416 - Retrieved player stats of id: 478
417 - Retrieved player stats of id: 555
418 - Retrieved player stats of id: 557
419 - Retrieved player stats of id: 567
420 - Retrieved player stats of id: 651
421 - Retrieved player stats of id: 666
422 - Retrieved player stats of id: 687
423 - Retrieved player stats of id: 704
424 - Retrieved player stats of id: 715
425 - Retrieved player stats of id: 732
426 - Retrieved player stats of id: 786
427 - Retrieved player stats of id: 812
428 - Retrieved player stats of id: 813
429 - Retrieved player stats of id: 822
430 - Retrieved player stats of id: 842
431 - Retrieved player stats of id: 863
432 - Retrieved player stats of id: 882
433 - Retrieved player stats of id: 888
434 - Retrieved player stats of id: 896
435 - Retrieved player stats of id: 924
436 - Retrieved player stats of id: 927
437 - Retrieved player stats of id: 942
438 - Retrieved player stats of id: 973
439 - Retrieved player stats of id: 980
440 - Retrieved player stats of id: 995
441 - Retrieved player stats of id: 1029
442 - Retrieved player stats of id: 1032
443 - Retrieved player stats of id: 1040
444 - Retrieved player stats of id: 1053
445 - Retrieved player stats of id: 1063
446 - Retrieved player stats of id: 1064
447 - Retrieved player stats of id: 1081
448 - Retrieved player stats of id: 1093
449 - Retrieved player stats of id: 1124
450 - Retrieved player stats of id: 1131
451 - Retrieved player stats of id: 1155
452 - Retrieved player stats of id: 1176
453 - Retrieved player stats of id: 1187
454 - Retrieved player stats of id: 1191
455 - Retrieved player stats of id: 1193
456 - Retrieved player stats of id: 1260
457 - Retrieved player stats of id: 1272
458 - Retrieved player stats of id: 1275
459 - Retrieved player stats of id: 1289
460 - Retrieved player stats of id: 1293
461 - Retrieved player stats of id: 1306
462 - Retrieved player stats of id: 1312
463 - Retrieved player stats of id: 1318
464 - Retrieved player stats of id: 1319
465 - Retrieved player stats of id: 1327
466 - Retrieved player stats of id: 1328
467 - Retrieved player stats of id: 1329
468 - Retrieved player stats of id: 1340
469 - Retrieved player stats of id: 1352
470 - Retrieved player stats of id: 1380
471 - Retrieved player stats of id: 1405
472 - Retrieved player stats of id: 1417
473 - Retrieved player stats of id: 1418
474 - Retrieved player stats of id: 1420
475 - Retrieved player stats of id: 1436
476 - Retrieved player stats of id: 1447
477 - Retrieved player stats of id: 1483
478 - Retrieved player stats of id: 1484
479 - Retrieved player stats of id: 1486
480 - Retrieved player stats of id: 1488
481 - Retrieved player stats of id: 1498
482 - Retrieved player stats of id: 1500
483 - Retrieved player stats of id: 1504
484 - Retrieved player stats of id: 1505
485 - Retrieved player stats of id: 1509
486 - Retrieved player stats of id: 1512
487 - Retrieved player stats of id: 1516
488 - Retrieved player stats of id: 1522
489 - Retrieved player stats of id: 1524
490 - Retrieved player stats of id: 1530
491 - Retrieved player stats of id: 1532
492 - Retrieved player stats of id: 1534
493 - Retrieved player stats of id: 1539
494 - Retrieved player stats of id: 1541
495 - Retrieved player stats of id: 1545

509

### Create data frame

In [178]:
# # normalize player stats and create data frame
# df_players_stats = pd.json_normalize(players_stats, 
#                                         record_path=['playerStats'],
#                                         meta=['team', 'id', 'name', 'position'],
#                                         errors=None)

df_players_stats = pd.json_normalize(players_stats, 
                                        record_path=['playerStats'],
                                        meta=['team', 'id', 'name', 'position'],
                                        errors='raise')

In [179]:
df_players_stats.shape

(8751, 27)

### Create column for each of the team information (teamName, teamId)

In [180]:
# function to get team data
def flatten_team(d):
    return {'team_id': d['id'], 'team_shortName': d['shortName']}

# apply function to extract info
df_players_stats[['team_id', 'team_shortName']] = df_players_stats['team'].apply(lambda d: pd.Series(flatten_team(d)))

# drop team column
df_players_stats = df_players_stats.drop(columns='team')

In [181]:
df_players_stats.head()

,weekNumber,totalPoints,stats.mins_played,stats.goals,stats.goal_assist,stats.offtarget_att_assist,stats.pen_area_entries,stats.penalty_won,stats.penalty_save,stats.saves,...,stats.won_contest,stats.ball_recovery,stats.poss_lost_all,stats.penalty_conceded,stats.marca_points,id,name,position,team_id,team_shortName
0,1,6,"[90, 2]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]",...,"[0, 0]","[4, 0]","[11, -1]","[0, 0]","[-1, 1]",53,Jan Oblak,Portero,2,ATM
1,2,3,"[90, 2]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[3, 1]",...,"[0, 0]","[9, 1]","[5, 0]","[0, 0]","[-1, 1]",53,Jan Oblak,Portero,2,ATM
2,3,7,"[90, 2]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[2, 1]",...,"[0, 0]","[9, 1]","[16, -2]","[0, 0]","[-1, 1]",53,Jan Oblak,Portero,2,ATM
3,4,5,"[85, 2]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[4, 2]",...,"[0, 0]","[7, 1]","[16, -2]","[0, 0]","[-1, 2]",53,Jan Oblak,Portero,2,ATM
4,6,1,"[90, 2]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[1, 0]",...,"[0, 0]","[3, 0]","[5, 0]","[0, 0]","[-1, 1]",53,Jan Oblak,Portero,2,ATM

### Create column for each value in stats array (actual, points)

In [182]:
# create new column names based on the original
stats_new_info = []
for col in df_players_stats.columns:
    
    if "stats." not in col:
        continue
    
    stats_new_info.append({
        "current_name": col,
        "new_name_actual": col.replace("stats.", "") + "_actual",
        "new_name_points": col.replace("stats.", "") + "_pts",
    })

# add information to new columns and drop original
for sni in stats_new_info:
    curr_col = sni['current_name']
    new_col1 = sni['new_name_actual']
    new_col2 = sni['new_name_points']

    df_players_stats[[new_col1, new_col2]] = pd.DataFrame(df_players_stats[curr_col].to_list())
    df_players_stats = df_players_stats.drop(columns=curr_col)
    
df_players_stats.head()

,weekNumber,totalPoints,id,name,position,team_id,team_shortName,mins_played_actual,mins_played_pts,goals_actual,...,won_contest_actual,won_contest_pts,ball_recovery_actual,ball_recovery_pts,poss_lost_all_actual,poss_lost_all_pts,penalty_conceded_actual,penalty_conceded_pts,marca_points_actual,marca_points_pts
0,1,6,53,Jan Oblak,Portero,2,ATM,90,2,0,...,0,0,4,0,11,-1,0,0,-1,1
1,2,3,53,Jan Oblak,Portero,2,ATM,90,2,0,...,0,0,9,1,5,0,0,0,-1,1
2,3,7,53,Jan Oblak,Portero,2,ATM,90,2,0,...,0,0,9,1,16,-2,0,0,-1,1
3,4,5,53,Jan Oblak,Portero,2,ATM,85,2,0,...,0,0,7,1,16,-2,0,0,-1,2
4,6,1,53,Jan Oblak,Portero,2,ATM,90,2,0,...,0,0,3,0,5,0,0,0,-1,1

### Average Points per Player

In [183]:
# sort columns
df_players_stats = df_players_stats.sort_values(['id', 'weekNumber'])
df_players_stats.head()

,weekNumber,totalPoints,id,name,position,team_id,team_shortName,mins_played_actual,mins_played_pts,goals_actual,...,won_contest_actual,won_contest_pts,ball_recovery_actual,ball_recovery_pts,poss_lost_all_actual,poss_lost_all_pts,penalty_conceded_actual,penalty_conceded_pts,marca_points_actual,marca_points_pts
5292,1,1,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3,1,0,...,0,0,0,0,0,0,0,0,-1,0
5293,2,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,11,1,0,...,0,0,3,0,0,0,0,0,-1,1
5294,3,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0,0,0,...,0,0,0,0,0,0,0,0,-1,0
5295,5,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0,0,0,...,0,0,0,0,0,0,0,0,-1,0
5296,6,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,10,1,0,...,0,0,1,0,0,0,0,0,-1,1

In [184]:
# columns we need from previous week
points_cols = [col for col in df_players_stats.columns if '_pts' in col]
actual_cols = [col for col in df_players_stats.columns if 'actual' in col]

# avg points colums names
# lm = "last match"
avg_points_cols = ['_'.join(['cumavg', col]) for col in points_cols]

df_players_stats['cum_totalPoints'] = df_players_stats.groupby('id')['totalPoints'].apply(lambda x: x.shift(1).cumsum())

# add cumulative average points
df_players_stats['cumavg_totalPoints'] = df_players_stats.groupby('id')['totalPoints'].apply(lambda x: x.shift(1).expanding().mean())

# dropping points of current week
df_players_stats = df_players_stats.drop(columns=(points_cols + actual_cols))

/var/folders/1v/gqg3smmx3d99djll0gyhm06w0000gn/T/ipykernel_12494/2011383607.py:9: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_players_stats['cum_totalPoints'] = df_players_stats.groupby('id')['totalPoints'].apply(lambda x: x.shift(1).cumsum())
/var/folders/1v/gqg3smmx3d99djll0gyhm06w0000gn/T/ipykernel_12494/2011383607.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_players_stats['cumavg_totalPoints'] = df_players_stats.groupby('id')['totalPoints'].apply(lambda x: x.shift(1).expanding().mean())

In [187]:
df_players_stats['cum_totalPoints'] = df_players_stats['cum_totalPoints'].fillna(0)
df_players_stats['cumavg_totalPoints'] = df_players_stats['cumavg_totalPoints'].fillna(0)

df_players_stats.head()

,weekNumber,totalPoints,id,name,position,team_id,team_shortName,cum_totalPoints,cumavg_totalPoints
5292,1,1,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0.0,0.00
5293,2,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,1.0,1.00
5294,3,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.50
5295,5,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.00
5296,6,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,0.75

In [188]:
df_players_stats[['id', 'cumavg_totalPoints']].head()

        id  cumavg_totalPoints
5292  1000                0.00
5293  1000                1.00
5294  1000                1.50
5295  1000                1.00
5296  1000                0.75

## Week Info

In [189]:
weeks_stats_path = './data_json/weeks_stats.json'

### Get data from local JSON

In [190]:
# with open(weeks_stats_path) as f:
#     weeks_stats = json.load(f)

### Get data from API

In [191]:
# get games stats per week
print("Getting week stas...")

weeks = list(range(1, 39))
weeks_stats = []
for w in weeks:
    response = requests.get(f'{HTTPS_DOMAIN_V1}{ROUTE_WEEK(w)}')
    weeks_stats.append(response.json())

    print(w, '- Retrieved week stats for week:', w)
    
# create file 
with open(weeks_stats_path, 'w') as convert_file:
     convert_file.write(json.dumps(weeks_stats))

### Create data frame

In [192]:
# create a flattened list of the week stats
flat_weeks_stats = [
    {'weekNumber': i+1, **item}
    for i, sublist in enumerate(weeks_stats)
        for item in sublist
]

In [193]:
# convert json to data frame
df_weeks_stats = pd.json_normalize(flat_weeks_stats)

df_weeks_stats = df_weeks_stats[['weekNumber',
                                 'localScore', 
                                 'local.id', 
                                 'local.shortName', 
                                 'visitorScore', 
                                 'visitor.id', 
                                 'visitor.shortName']]

In [194]:
df_weeks_stats.head()

,weekNumber,localScore,local.id,local.shortName,visitorScore,visitor.id,visitor.shortName
0,1,3.0,5,BET,0.0,7,ELC
1,1,0.0,9,GET,3.0,2,ATM
2,1,0.0,3,ATH,0.0,33,MLL
3,1,1.0,1,ALM,2.0,15,RMA
4,1,1.0,18,VAL,0.0,28,GIR

## Merge Week Info with Player Stats to add Match Features

In [195]:
# convert to string
df_weeks_stats['local.id'] = df_weeks_stats['local.id'].astype(str)
df_weeks_stats['visitor.id'] = df_weeks_stats['visitor.id'].astype(str)

### Adding next match features

In [196]:
# merge based on local team id
df = df_weeks_stats.merge(
        df_players_stats, 
        how='right',
        right_on=['team_id', 'weekNumber'],
        left_on=['local.id', 'weekNumber'])

# merge based on visitor team id
df = df_weeks_stats.merge(
        df,
        how='right',
        right_on=['team_id', 'weekNumber'],
        left_on=['visitor.id', 'weekNumber'],
        suffixes=('_v', '_l')) # visitor, local

df.head()

,weekNumber,localScore_v,local.id_v,local.shortName_v,visitorScore_v,visitor.id_v,visitor.shortName_v,localScore_l,local.id_l,local.shortName_l,...,visitor.id_l,visitor.shortName_l,totalPoints,id,name,position,team_id,team_shortName,cum_totalPoints,cumavg_totalPoints
0,1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5,BET,...,7,ELC,1,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0.0,0.00
1,2,1.0,33,MLL,2.0,5,BET,NaN,NaN,NaN,...,NaN,NaN,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,1.0,1.00
2,3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,BET,...,13,OSA,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.50
3,5,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,BET,...,20,VIL,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.00
4,6,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5,BET,...,28,GIR,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,0.75

In [197]:
# adding next match features

# feature describing if played as local
df['curr_match_as_local'] = ~df['localScore_l'].isna()

# feature describing last match opponent
df['curr_match_opponent_id'] = np.where(
    df['curr_match_as_local'], # if
    df['visitor.id_l'], # then
    df['local.id_v'])   # else

df.head()

,weekNumber,localScore_v,local.id_v,local.shortName_v,visitorScore_v,visitor.id_v,visitor.shortName_v,localScore_l,local.id_l,local.shortName_l,...,totalPoints,id,name,position,team_id,team_shortName,cum_totalPoints,cumavg_totalPoints,curr_match_as_local,curr_match_opponent_id
0,1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5,BET,...,1,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0.0,0.00,True,7
1,2,1.0,33,MLL,2.0,5,BET,NaN,NaN,NaN,...,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,1.0,1.00,False,33
2,3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,BET,...,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.50,True,13
3,5,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,BET,...,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.00,True,20
4,6,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5,BET,...,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,0.75,True,28

In [198]:
# define condition of redundant columns
reduntant_cols_cond = lambda c: c.startswith("local") or c.startswith("visitor") or c.startswith("lastWeekNumber")

# select redundant columns
redundant_cols = [col for col in df.columns if reduntant_cols_cond(col)]

# drop redundant columns
df = df.drop(columns=redundant_cols)

df.head()

,weekNumber,totalPoints,id,name,position,team_id,team_shortName,cum_totalPoints,cumavg_totalPoints,curr_match_as_local,curr_match_opponent_id
0,1,1,1000,Edgar Paul Akouokou,Centrocampista,5,BET,0.0,0.00,True,7
1,2,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,1.0,1.00,False,33
2,3,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.50,True,13
3,5,0,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,1.00,True,20
4,6,2,1000,Edgar Paul Akouokou,Centrocampista,5,BET,3.0,0.75,True,28

### Adding Last Match Features

In [199]:
# # add last week number to join
# df['lastWeekNumber'] = df.groupby(['id'])['weekNumber'].shift(1)

# df.head()

In [200]:
# # rename column to avoid conflict
# df = df.rename(columns={'weekNumber': 'week'})

# # merge based on local team id
# df = df_weeks_stats.merge(
#         df, 
#         how='right',
#         right_on=['team_shortName', 'lastWeekNumber'],
#         left_on=['local.shortName', 'weekNumber'])

# # merge based on visitor team id
# df = df_weeks_stats.merge(
#         df.drop(columns='weekNumber'),
#         how='right',
#         right_on=['team_shortName', 'lastWeekNumber'],
#         left_on=['visitor.shortName', 'weekNumber'],
#         suffixes=('_v', '_l')) # visitor, local

# # drop week number as it is irrelevant
# df = df.drop(columns='weekNumber')

In [201]:
# # adding last match features

# # feature describing if played as local
# df['last_match_as_local'] = ~df['localScore_l'].isna()

# # feature describing last match opponent
# df['last_match_opponent_id'] = np.where(df['last_match_as_local'], df['visitor.id_l'], df['local.id_v'])

# # feature describing last match goals
# df['last_match_goals'] = np.where(df['last_match_as_local'], df['localScore_l'], df['visitorScore_v'])

# # feature describing last match oponent goals
# df['last_match_oponent_goals'] = np.where(df['last_match_as_local'], df['visitorScore_l'], df['localScore_v'])

# # feature describing if game status
# match_result_conditions = [
#     df['last_match_goals'].isna(),
#     df['last_match_goals'] > df['last_match_oponent_goals'],
#     df['last_match_goals'] < df['last_match_oponent_goals'],
#     df['last_match_goals'] == df['last_match_oponent_goals']
# ]
# match_result_values = [np.nan, 'win', 'loose', 'draw']
# df['last_match_status'] = np.select(match_result_conditions, match_result_values)

# df.head(10)

In [202]:
# # define condition of columns we want to drop
# reduntant_cols_cond = (lambda c: c.startswith("local") or 
#                                  c.startswith("visitor") or 
#                                  c.startswith("lastWeekNumber"))

# # select columns we want to drop
# redundant_cols = [col for col in df.columns if reduntant_cols_cond(col)]

# # drop columns
# df = df.drop(columns=redundant_cols)

# df.head()

In [203]:
# df.shape

In [204]:
# drop the

In [205]:
df.to_csv('./data_csv/players_full_data_v2.csv', index=False)

## Historical Market Values

### Get data from JSON

In [13]:
# historical_market_values_path_json = './data_json/historical_market_values.json'
# historical_market_values_path_csv = './data_csv/historical_market_values.csv'

In [4]:
# with open(historical_market_values_path_json) as f:
#     historical_market_values = json.load(f)

### Get data from API

In [ ]:
# get historical market value per player
print('Getting players historical values')

# get hmv for each player
historical_market_values = []
for i, p_id in enumerate(players_ids):
    response = requests.get(f'{HTTPS_DOMAIN_V3}{ROUTE_MARKET_VALUE(p_id)}')
    player_hmv = response.json()
    player_hmv = [dict(p, **{'id': p_id}) for p in player_hmv]

    historical_market_values += player_hmv

    print(i+1, '- Retrieved historical market value of id:', p_id)

# create file
with open(historical_market_values_path, 'w') as convert_file:
     convert_file.write(json.dumps(historical_market_values))

len(historical_market_values)

In [12]:
# df_market_values = pd.json_normalize(historical_market_values)

In [6]:
# df_market_values.shape

(114013, 5)

In [7]:
# df_market_values.head()

     lfpId  marketValue                       date  bids  id
0  2000053     19000000  2022-07-14T00:00:00+02:00     0  53
1  2000053     19024343  2022-07-15T00:00:00+02:00     0  53
2  2000053     19211522  2022-07-16T00:00:00+02:00     0  53
3  2000053     19633688  2022-07-17T00:00:00+02:00     0  53
4  2000053     19868912  2022-07-18T00:00:00+02:00     0  53

In [172]:
# df_market_values.to_csv(historical_market_values_path_csv, index=False)